/* 
    Document   : multiuserChatRoom
    Created on : 12 Απρ 2011, 9:00:57 μμ
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#chat-area {
    float: left;
    width: 500px;
}
#chat {
    overflow: auto;
    height: 300px;
    width:280px;
    border: solid 1px #ccc;
    background-color:#fff;

}
#participants {
    float: left;
    width: 60px;
    margin-left: 0px;
    height: 300px;
    overflow: auto;
    background-color: #fff;
    border: solid 1px #ccc;
}
#participants li{
    padding-left: 5px;
    width: 50px
}
#input {
    width: 255px;
    margin: 5px;
    height: 30px;
    font-size: 120%;
}
.notice {
    font-style: italic;
    font-weight: bold;
    color: #3d3;
}
.error {
    color: #d33;
}
.message {
    color: #aaa;
}
.nick {
    color: #66f;
}
.self {
    color: #f66;
}
.delayed {
    opacity: 0.5;
}