/* 
    Document   : twilike
    Created on : 15 Οκτ 2010, 6:58:01 μμ
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#twilike{
    font:0.8em/1.5 "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica;
    color:#333;    
    width:300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;

    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    
}
#title{
	margin:20px 0px 10px 380px;
}

#title img {
border:0;
width:150px;
}

#title h2{
	margin-top:10px;
	font-size:small;
}

#footer {
    text-align:center;
    margin-top: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;

    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
}

#arrow {
    padding-top: 10px;
    margin-left: 40px;
    background-image: url('../images/arrow-up.gif');
    background-repeat: no-repeat;    
}


#footer {
	margin-bottom:30px;
}

#container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background:#9AE4E8 url('../images/bg.gif');
    color: #000000;
    
}

#container form {
	margin:10px 0px 10px 50px;
        
}

legend {
	padding:0px 0px 0px 230px;
}
legend span {
	font-weight:bold;
}

#footer_a {
    display:inline;
    word-spacing: 2px;
    font-size: 14px;
    padding-left: 10px;
}

fieldset {
	border: none;
        margin: 0px;
}
textarea {
	border: 1px dotted #449F00;
	width: 250px;
	height: 50px;
	padding: 5px;
	font-weight:bold;
	color:green;
        margin-left: 5px;
        margin-bottom: 10px;
        
}
/* comments */
#comments, #comments li{
	margin:0;
	padding:0;
	list-style:none;
}
#comments li{
	padding:.5em;
	margin:.5em 0;
	background:#fcfcfc;
	border:1px solid #e1e1e1;
}
#comments li .info{
	padding:.2em 20px;
	background:#f1f1f1 url(../images/ico_comments.gif) no-repeat 2px 50%;
	margin:0;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#comments li .body{
	padding:.5em 20px;
}
#commentForm {
    width: 300px;
   
}

#messagewindow {
	padding: 25px;
	overflow: auto;
}



